doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Capstone Lab Inventory

        // Google Font: Source Sans Pro
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback")
        // Font Awesome
        link(rel="stylesheet" href="/adminlte/plugins/fontawesome-free/css/all.min.css")
        // Theme style
        link(rel="stylesheet" href="/adminlte/dist/css/adminlte.min.css")

    body.hold-transition.sidebar-mini
        .wrapper
            // Menyisipkan Header
            include header.pug

            // Menyisipkan Sidebar
            include sidebar.pug

            // Content Wrapper
            .content-wrapper
                block content

            // Menyisipkan Footer
            include footer.pug

        // jQuery
        script(src="/adminlte/plugins/jquery/jquery.min.js")
        // Bootstrap 4
        script(src="/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js")
        // AdminLTE App
        script(src="/adminlte/dist/js/adminlte.min.js")