// Main Sidebar Container
aside.main-sidebar.sidebar-dark-primary.elevation-4
    - var dashboardUrl = '/admin/dashboard'
    - if (user.role === 'Kepala Laboratorium') dashboardUrl = '/kalab/procurement-drafts'
    - if (user.role === 'Ketua Program Studi') dashboardUrl = '/kaprodi/procurement-review'
    - if (user.role === 'Staf Administrasi') dashboardUrl = '/stafadmin/assets'
    - if (user.role === 'Staf Laboratorium') dashboardUrl = '/staflab/consumables'

    a.brand-link(href=dashboardUrl)
        span.brand-text.font-weight-light Lab Inventory GWT 8

    .sidebar
        .user-panel.mt-3.pb-3.mb-3.d-flex
            .info
                span.d-block(style="color: #d0d4db;") #{user.name} - #{user.role}

        nav.mt-2
            ul.nav.nav-pills.nav-sidebar.flex-column(data-widget="treeview" role="menu" data-accordion="false")
                // 1. MENU ADMINISTRATOR
                if user.role === 'Administrator'
                    li.nav-item
                        a.nav-link(href="/admin/dashboard")
                            i.nav-icon.fas.fa-tachometer-alt
                            p Dashboard Utama
                    li.nav-item
                        a.nav-link(href="/admin/users")
                            i.nav-icon.fas.fa-users
                            p Kelola Pengguna
                    li.nav-item
                        a.nav-link(href="/admin/rooms")
                            i.nav-icon.fas.fa-door-open
                            p Kelola Ruangan
                    li.nav-item
                        a.nav-link(href="/admin/activity-logs")
                            i.nav-icon.fas.fa-history
                            p Riwayat Audit

                // 2. MENU STAF ADMINISTRASI
                if user.role === 'Staf Administrasi'
                    li.nav-item
                        a.nav-link(href="/stafadmin/assets")
                            i.nav-icon.fas.fa-desktop
                            p Data Inventaris
                    li.nav-item
                        a.nav-link(href="/stafadmin/penerimaan")
                            i.nav-icon.fas.fa-boxes
                            p
                                | Penerimaan & Labeling
                                if notif && notif.penerimaan
                                    i.fas.fa-circle.text-primary.right(style="font-size: 6px; margin-top: 8px;" title="Ada tugas belum selesai")
                    li.nav-item
                        a.nav-link(href="/stafadmin/consumables")
                            i.nav-icon.fas.fa-box
                            p Data BHP
                    li.nav-item
                        a.nav-link(href="/stafadmin/dashboard")
                            i.nav-icon.fas.fa-chart-pie
                            p Dashboard & Statistik

                // 3. MENU STAF LABORATORIUM
                if user.role === 'Staf Laboratorium'
                    li.nav-item
                        a.nav-link(href="/staflab/consumables")
                            i.nav-icon.fas.fa-box
                            p Data BHP
                    li.nav-item
                        a.nav-link(href="/staflab/bhp-usage-log")
                            i.nav-icon.fas.fa-history
                            p Riwayat Pemakaian BHP
                    li.nav-item
                        a.nav-link(href="/staflab/assets")
                            i.nav-icon.fas.fa-desktop
                            p
                                | Data Inventaris
                                if notif && notif.maintenance
                                    i.fas.fa-circle.text-primary.right(style="font-size: 6px; margin-top: 8px;" title="Ada tugas belum selesai")
                    li.nav-item
                        a.nav-link(href="/staflab/maintenance-logs")
                            i.nav-icon.fas.fa-tools
                            p Log Maintenance
                    li.nav-item
                        a.nav-link(href="/staflab/dashboard")
                            i.nav-icon.fas.fa-chart-pie
                            p Dashboard & Statistik

                // 4. MENU KAPRODI
                if user.role === 'Ketua Program Studi'
                    li.nav-item
                        a.nav-link(href='/kaprodi/procurement-review')
                            i.nav-icon.fas.fa-clipboard-list
                            p
                                | Draft Pengadaan
                                if notif && notif.procurementReview
                                    i.fas.fa-circle.text-primary.right(style="font-size: 6px; margin-top: 8px;" title="Ada tugas belum selesai")
                    li.nav-item
                        a.nav-link(href='/kaprodi/assets')
                            i.nav-icon.fas.fa-desktop
                            p Data Inventaris
                    li.nav-item
                        a.nav-link(href='/kaprodi/consumables')
                            i.nav-icon.fas.fa-box
                            p Data BHP
                    li.nav-item
                        a.nav-link(href='/kaprodi/dashboard')
                            i.nav-icon.fas.fa-chart-pie
                            p Dashboard & Statistik

                // 5. MENU KALAB
                if user.role === 'Kepala Laboratorium'
                    li.nav-item
                        a.nav-link(href='/kalab/procurement-drafts')
                            i.nav-icon.fas.fa-file-invoice
                            p Draft Pengadaan
                    li.nav-item
                        a.nav-link(href='/kalab/assets')
                            i.nav-icon.fas.fa-desktop
                            p Data Inventaris
                    li.nav-item
                        a.nav-link(href='/kalab/consumables')
                            i.nav-icon.fas.fa-box
                            p Data BHP
                    li.nav-item
                        a.nav-link(href='/kalab/dashboard')
                            i.nav-icon.fas.fa-chart-pie
                            p Dashboard & Statistik
