// Main Sidebar Container
aside.main-sidebar.sidebar-dark-primary.elevation-4
    a.brand-link(href="/admin/dashboard")
        span.brand-text.font-weight-light Lab Inventory GWT 8

    .sidebar
        .user-panel.mt-3.pb-3.mb-3.d-flex
            .info
                a.d-block(href="#") #{user.name} - #{user.role}

        nav.mt-2
            ul.nav.nav-pills.nav-sidebar.flex-column(data-widget="treeview" role="menu" data-accordion="false")
                // 1. MENU ADMINISTRATOR
                if user.role === 'Administrator'
                    li.nav-item
                        a.nav-link(href="/admin/dashboard")
                            i.nav-icon.fas.fa-tachometer-alt
                            p Dashboard Utama
                    li.nav-item
                        a.nav-link(href="/admin/users")
                            i.nav-icon.fas.fa-users
                            p Kelola Pengguna
                    li.nav-item
                        a.nav-link(href="/admin/rooms")
                            i.nav-icon.fas.fa-door-open
                            p Kelola Ruangan

                // 2. MENU STAF ADMINISTRASI
                if user.role === 'Staf Administrasi'
                    li.nav-item
                        a.nav-link(href="/stafadmin/assets")
                            i.nav-icon.fas.fa-desktop
                            p Data Inventaris
                    li.nav-item
                        a.nav-link(href="/stafadmin/penerimaan")
                            i.nav-icon.fas.fa-boxes
                            p Penerimaan & Labeling

                // 3. MENU STAF LABORATORIUM
                if user.role === 'Staf Laboratorium'
                    li.nav-item
                        a.nav-link(href="/staflab/consumables")
                            i.nav-icon.fas.fa-box
                            p Data BHP

                // 4. MENU KAPRODI
                if user.role === 'Ketua Program Studi'
                    li.nav-item
                        a.nav-link(href='/kaprodi/procurement-review')
                            i.nav-icon.fas.fa-clipboard-list
                            p Draft Pengadaan

                // 5. MENU KALAB
                if user.role === 'Kepala Laboratorium'
                    li.nav-item
                        a.nav-link(href='/kalab/procurement-drafts')
                            i.nav-icon.fas.fa-file-invoice
                            p Draf Pengadaan

                li.nav-item
                    a.nav-link(href="/logout" class="text-danger")
                        i.nav-icon.fas.fa-sign-out-alt
                        p Logout