doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Capstone Lab Inventory

        // Google Font: Source Sans Pro
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback")
        // Font Awesome
        link(rel="stylesheet" href="/adminlte/plugins/fontawesome-free/css/all.min.css")
        // Theme style
        link(rel="stylesheet" href="/adminlte/dist/css/adminlte.min.css")

    body.hold-transition.sidebar-mini
        .wrapper
            // Navbar
            nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(data-widget="pushmenu" href="#" role="button")
                            i.fas.fa-bars

            // Main Sidebar Container
            aside.main-sidebar.sidebar-dark-primary.elevation-4
                a.brand-link(href="#")
                    span.brand-text.font-weight-light Lab Inventory GWT 8

                .sidebar
                    .user-panel.mt-3.pb-3.mb-3.d-flex
                        .info
                            a.d-block(href="#") #{user.name} - #{user.role}

                    nav.mt-2
                        ul.nav.nav-pills.nav-sidebar.flex-column(data-widget="treeview" role="menu" data-accordion="false")
                            if user.role === 'Administrator'
                                li.nav-item
                                    a.nav-link(href="/admin/users")
                                        i.nav-icon.fas.fa-users
                                        p Kelola Pengguna
                                li.nav-item
                                    a.nav-link(href="/admin/rooms")
                                        i.nav-icon.fas.fa-door-open
                                        p Kelola Ruangan
                            li.nav-item
                                a.nav-link(href="/logout" class="text-danger")
                                    i.nav-icon.fas.fa-sign-out-alt
                                    p Logout

            // Content Wrapper
            .content-wrapper
                block content

            // Footer
            footer.main-footer
                strong Copyright &copy; 2026 PWL Capstone.
                |  All rights reserved.

        // jQuery
        script(src="/adminlte/plugins/jquery/jquery.min.js")
        // Bootstrap 4
        script(src="/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js")
        // AdminLTE App
        script(src="/adminlte/dist/js/adminlte.min.js")