extends layouts/master

block content
    .content-header
        .container-fluid
            .row.mb-2
                .col-sm-6
                    h1 Dashboard Administrator

    .content
        .container-fluid
            .row
                .col-lg-12
                    .card.card-primary.card-outline
                        .card-header
                            h5.m-0 Selamat Datang!
                        .card-body
                            h6.card-title.mb-3 Halo, <strong>#{user.name}</strong>

                            p.card-text.mt-3
                                | Anda masuk ke sistem sebagai
                                strong.text-primary #{user.role}
                                | . Selamat datang di aplikasi digitalisasi dan manajemen siklus aset serta Barang Habis Pakai (BHP) untuk Laboratorium GWT 8.

                            p.card-text.mt-2
                                | Silakan gunakan menu navigasi di sebelah kiri untuk mulai mengelola Data Pengguna sistem maupun memantau ketersediaan Data Ruangan laboratorium.