extends ../layout

block content
    .content-header
        .container-fluid
            h1 Dashboard Ketua Program Studi

    .content
        .container-fluid
            .card
                .card-body
                    h4 Selamat datang, #{user.name}
                    p Anda login sebagai Ketua Program Studi.